html {
	&.no-scroll {
		position: fixed;
		width: 100%;
		height: 100%;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: $default-fontSize;
	line-height: $default-lineHeight;
	color: $default-blue;
}

h1, .h1 {
	font-size: 48px;
	line-height: 50px;
	color: $default-yellow;
	font-weight: 700;
	@media (min-width: $tablet + 1) {
		font-size: $headling-1-fontSize;
		line-height: $headling-1-lineHeight;
	}
}

h2, .h2 {
	font-size: $headling-2-fontSize;
	line-height: $headling-2-lineHeight;
	color: $default-blue;
	font-weight: 700;
}

h5, .h5 {
	font-size: $default-fontSize;
	line-height: $default-lineHeight;
	color: white;
	font-weight: 700;
	@media (min-width: $tablet + 1) {
		font-size: $headling-5-fontSize;
		line-height: $headling-5-lineHeight;
	}
}

.skip-link {
	left: -9999rem;
	top: 2.5rem;
	z-index: 999999999;
	text-decoration: underline;

	&:focus {
		clip: auto;
		clip-path: none;
		background-color: lighten($default-blue, 50%);
		color: $default-blue;
		display: block;
		font-weight: 700;
		padding: 15px 25px;
		text-transform: none;
		height: auto;
		left: 6px;
		top: 7px;
		width: auto;
		z-index: 100000;
		outline: 4px solid $default-blue;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: fixed !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.hamburger {
	outline: none !important;
	height: 40px;
	padding-top: 15px;
}