.main {
	&__header {
		&__avatar {
			display: none;
			&:hover {
				.dropdown-menu {
					transition: .3s;
					opacity: 1;
					visibility: visible;
					top: 152%;
					transform: rotateX(0deg) translateX(-50%);
					-webkit-transform: rotateX(0deg) translateX(-50%);
				}
				.main__dd-menu--right {
					transform: rotateX(0deg) translateX(0);
					-webkit-transform: rotateX(0deg) translateX(0);
				}
			}
			.main__dd-menu--right {
				&:before {
					right: 15px;
				}
			}
			&--img {
				width: 30px;
				height: 30px;
				object-fit: cover;
			}
		}
		&__buttons {
			.btn {
				@media (min-width: $mobil + 1) {
					min-width: 88px;
				}
			}
		}
	}

	&__dd-menu {
		border: none;
		box-sizing: border-box;
		border-radius: 6px;
		padding: 0;
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
		top: 180%;
		width: 168px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);

		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: -20px;
			height: 20px;
		}

		&:before {
			content: '';
			background: white;
			box-sizing: border-box;
			border-radius: 4px;
			position: absolute;
			left: 50%;
			top: -7px;
			width: 16px;
			height: 16px;
			z-index: 1;
			transform: translateX(-50%) rotate(45deg);
			-webkit-transform: translateX(-50%) rotate(45deg);
		}

		&--right {
			left: auto;
			right: -8px;
			transform: translateX(0);
			-webkit-transform: translateX(0);

			&:before {
				left: auto;
				right: 12px;
				transform: translateX(0) rotate(45deg);
				-webkit-transform: translateX(0) rotate(45deg);
			}
		}

		.dropdown-item {
			font-size: 14px;
			line-height: 40px;
			color: $default-brown;
			padding: 0 35px;
			position: relative;
			z-index: 1;

			+ .dropdown-item {
				border-top: 1px solid $default-border;
			}

			&--active,
			&:hover, &:active, &:focus {
				font-weight: bold;
				background-color: transparent;
			}
		}

		&--item:last-child {
			.main__dd-menu--border {
				border-bottom: none;
			}
		}

		&--border {
			border-bottom: 1px solid $default-border;
			margin: 0 15px;
			padding: 15px 0;
			max-width: calc(50% - 30px);
		}
	}

	&__dd-mega-menu {
		box-shadow: none;
		padding: 0;

		&--content {
			width: 700px;
			border: none;
			padding: 15px 30px;
			border-radius: 6px;
			background-color: white;
			position: relative;
			margin-left: -15%;
		}

		%dd-headling {
			font-size: $default-fontSize;
			line-height: $default-lineHeight;
			color: $default-brown;
		}

		h5 {
			@extend %dd-headling;
			margin-bottom: 5px;
			font-weight: 400;

			a {
				@extend %dd-headling;

				&:hover {
					color: $default-blue;
					text-decoration: none;
				}
			}
		}

		p {
			font-size: 13px;
			line-height: 16px;
			color: $default-blue;
			margin-bottom: 0;
		}

		figure {
			min-width: 80px;
			margin-right: -12px;
			margin-bottom: 0;
		}
	}

	&__hero {
		min-height: 481px;
		background-image: url("../img/hero-image.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@media (min-width: $tablet + 1) {
			min-height: 668px;
			background-size: auto;
		}

		&:before {
			content: '';
			background: rgba(1, 69, 147, 0.7);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: .95;
		}

		h1, h2 {
			margin-bottom: 40px;
			@media (min-width: $tablet + 1) {
				margin-bottom: 70px;
			}
		}

		h2 {
			@include text-truncate-more-lines(4);
		}
	}
}