.mobile-menu {
	.mobile-nav {
		@media (max-width: $tablet-big) {
			transform: translateX(0);
			-webkit-transform: translateX(0);
		}
	}
}

.mobile-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: $white;
	box-shadow: 0 6px 12px rgba(27, 39, 56, 0.302256);
	transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
	-webkit-transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
	transform: translateX(-120%);
	-webkit-transform: translateX(-120%);
	@media (min-width: $mobil + 1) {
		width: 70%;
	}
	@media (min-width: $tablet + 1) {
		width: 50%;
	}

	&__overflow {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: calc(100% - 70px);
	}

	&__header {
		padding: 15px;
		@media (max-width: $mobil) {
			border-bottom: 1px solid $default-border;
		}
		@media (min-width: $mobil + 1) {
			margin: 15px 10%;
		}
	}

	&__avatar,
	&__submenu {
		margin: 15px;
		border-bottom: 1px solid $default-border;
		@media (min-width: $mobil + 1) {
			margin: 15px 10%;
		}
	}

	&__link {
		font-size: 14px;
		color: $default-brown;
		line-height: 16px;
		display: block;
		margin-bottom: 25px;
		text-decoration: none;

		&:hover {
			color: $default-blue;
		}
	}

	&__language {
		margin-top: -1.5rem !important;

		&--select {
			width: 100%;
			height: 54px;
			background: white url(../img/svg/pin.svg) no-repeat calc(50% - 50px) center;
			border: none;
			text-align: center;
			text-align-last: center;
			font-size: 14px;
			color: $default-brown;
			appearance: none;
			-webkit-appearance: none;
			position: relative;
			outline: none;
		}
	}

	&__buttons {
		.btn {
			min-width: 100px;
		}
	}

	&__avatar {
		display: none;

		&--img {
			width: 40px;
			height: 40px;
			object-fit: cover;
		}

		&--name {
			font-size: 14px;
			line-height: 20px;
			color: $default-blue;

			small {
				font-size: 10px;
			}
		}
	}

	.hamburger {
		padding-top: 9px;
		margin-right: 3px;

		.hamburger-inner {
			background-color: $default-blue;

			&:before, &:after {
				background-color: $default-blue;
			}
		}
	}
}

.mobile-menu-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}