.navbar {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 10px 15px;
	@media (min-width: $mobil + 1) {
		padding: 16px 15px;
	}
	@media (min-width: $tablet + 1) {
		padding: 20px 15px;
	}

	.navbar-nav {
		.nav-item {
			@media all and (min-width: 992px) {
				&:hover {
					.dropdown-menu {
						transition: .3s;
						-webkit-transition: .3s;
						opacity: 1;
						visibility: visible;
						top: 140%;
						transform: rotateX(0deg) translateX(-50%);
						-webkit-transform: rotateX(0deg) translateX(-50%);
					}

					.main__dd-menu--right {
						transform: rotateX(0deg) translateX(0);
						-webkit-transform: rotateX(0deg) translateX(0);
					}
				}
			}

			&:hover .nav-link {
				font-weight: bold;
			}
		}

		.nav-link {
			display: inline-block;
			text-align: center;
			font-size: $default-fontSize;
			line-height: $default-lineHeight;
			color: white;
			padding: 5px 11px;

			&--arrow {
				position: relative;
				padding-right: 30px;
			}

			.material-icons {
				vertical-align: top;
				margin-top: 1px;
				position: absolute;
				right: 0;
			}

			&:before {
				display: block;
				content: attr(title);
				font-weight: bold;
				height: 0;
				overflow: hidden;
				visibility: hidden;
			}
		}
	}

	.navbar-brand {
		img {
			@media (max-width: $mobil-smaller) {
				max-width: 150px;
			}
		}
	}
}