@import "mixins/btn-override";

.container {
	@media (min-width: $tablet + 1) {
		max-width: 970px;
	}
}

.btn {
	font-size: 13px;
	border-radius: 15px;
	padding: 5px 10px;
	line-height: 1.35;
	transition: background-color .218s linear, color .218s linear, border .218s linear;

	&-sm {
		padding: 6px 10px;
		font-size: $default-fontSize;
		line-height: $default-lineHeight;
		border-radius: 19px;
	}

	&-md {
		padding: 11px 26px;
		font-size: $default-fontSize;
		line-height: $default-lineHeight;
		border-radius: 24px;
		font-weight: 700;
	}
}

@include btn-override('btn-white', white, white, $default-blue, $default-yellow, $default-yellow, $default-blue);
@include btn-override('btn-white.bordered', white, $default-blue, $default-blue, $default-yellow, $default-blue, $default-blue);
@include btn-override('btn-yellow', $default-yellow, $default-yellow, $default-blue, $default-blue, $default-yellow, $default-yellow);