$mobil-smaller: 359px;
$mobil-big: 575px;
$mobil: 767px;
$tablet: 991px;
$tablet-default: 1024px;
$tablet-big: 1199px;

$default-fontSize: 16px;
$default-lineHeight: 24px;

$headling-1-fontSize: 60px;
$headling-1-lineHeight: 70px;

$headling-2-fontSize: 26px;
$headling-2-lineHeight: 32px;

$headling-5-fontSize: 21px;
$headling-5-lineHeight: 30px;

$default-brown: #AB9A88;
$default-blue: #014593;
$default-yellow: #FFDFBA;

$default-border: #DFE3E8;